<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap Simple Success Confirmation Popup</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		body {
			font-family: 'Varela Round', sans-serif;
		}
	</style>
</head>

<body>
	<div class="text-center">
		<!-- Button HTML (to Trigger Modal) -->
		<a id="myModal2" href="#myModal" class="trigger-btn" data-toggle="modal"></a>
	</div>

	<script>
		$(document).ready(function () {
			$('#myModal2').trigger('click');

			$('#confirmOK').on('click', function () {
				location.href = '/';
			});
		});

	</script>

	<!-- Modal HTML -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<div class="icon-box">
						<i class="material-icons">&#xE876;</i>
					</div>
					<h4 class="modal-title">Awesome!</h4>
				</div>
				<div class="modal-body">
					<p class="text-center"><%=name%>님 입장 처리가 완료되었습니다.</p>
				</div>
				<div class="modal-footer">
					<button id="confirmOK" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>