<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Our Signal Shortcut</title>
    <link rel="stylesheet" href="stylesheets/custom.css">
</head>
<body>
    <div class="header">
        Save Our Signal Shortcut
    </div>
    <div class="contents">
        <div class="user">
            <div class="title">사업자</div>
            <div class="content">
                <div class="wrap">
                    <div class="text">1. 로그인</div>
                    <div class="img">
                        <img src="images/org1.jpg">
                    </div>
                </div>
                <div class="wrap">
                    <div class="text">2. 가입하지 않은 경우 회원 가입</div>
                    <div class="img">
                        <img src="images/org2.jpg">
                    </div>
                </div>
                <div class="wrap">
                    <div class="text">3. 사업자 관리 메뉴</div>
                    <div class="img">
                        <img src="images/org3.png">
                    </div>
                </div>
                <div class="wrap">
                    <div class="text">4. 시설 출입 기록 확인</div>
                    <div class="img">
                        <a href="/admin"><img src="images/org4.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide"></div>
        <div class="divide"><div class="vertical-line"></div></div>
        <div class="user">
            <div class="title">사용자</div>
            <div class="content">
                <div class="wrap">
                    <div class="text">1. QR 체크인용 어플리케이션 실행</div>
                    <div class="img">
                        <img src="images/user1.jpg">
                    </div>
                </div>
                <div class="wrap">
                    <div class="text">2. 이용 약관 동의 및 개인정보 입력</div>
                    <div class="img">
                        <img src="images/user2.jpg">
                    </div>
                </div>
                <div class="wrap">
                    <div class="text">3. 시설 출입을 위한 QR코드 생성</div>
                    <div class="img">
                        <a href="/user/QR"><img src="images/user3.jpg"></a>
                    </div>
                </div>
                <div class="wrap">
                    <div class="text">4. 시설 이용 현황 지도 및 예약 기능</div>
                    <div class="img">
                        <a href="/user/map"><img src="images/user4.png"></a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</body>
</html>