<!DOCTYPE html>
<html>
  <head>
    <title>QR 코드 제시</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>방문자 스마트폰입니다.</p>
    <p>사업자가 방문자의 QR을 스캔할 것입니다.</p>
    <img src="<%= qr %>" />
  </body>
</html>
