<!DOCTYPE html>
<html>
  <head>
    <title>QR 스캔 데이터</title>
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00b7ff;
      }
    </style>
  </head>
  <body>
    <%= result %>
  </body>
</html>
